<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <div class="text-left">
  <title>Karthikeyan Venkatesan - Resume</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='templates/style.css') }}">
</head>
<body>
<div class="container mt-4">
  <div class="text-center">
    <h1>Karthikeyan Venkatesan</h1>
    <p>Cybersecurity Professional</p>
    <p>
      📧 kar120997@gmail.com | 📞 +91 8007865260 <br>
      <a href="https://www.linkedin.com/in/karthikeyan-venkatesan/" target="_blank">LinkedIn</a> |
      <a href="https://github.com/vkarthikeyan12" target="_blank">GitHub</a> |
      <a href="https://tryhackme.com/p/anony" target="_blank">Tryhackme</a>
    </p>
    <a href="/download" class="btn btn-primary">Download Resume (PDF)</a>
  </div>
  <hr>

  <h3>Profile</h3>
  <p>Cybersecurity professional and educator with extensive academic and industry experience, specializing in networking, hardware, and cyber defense. Maintained a Top 3 rank in India on TryHackMe, demonstrating hands-on expertise and continuous learning in practical cybersecurity challenges. Skilled in Python, Bash, and C++, with a passion for translating complex technical concepts into engaging teaching and research. Committed to mentoring students, advancing cybersecurity knowledge through innovative research, and contributing to organizational growth and cutting-edge projects.</p>
  <h3>Education</h3>
  <ul>
    <li><b>Master of Cyber Security (Cyber Defence)</b>, The University of Queensland, Australia (2020–2022)</li>
    <li><b>Advanced Diploma in Information Security (ADIS)</b>, Innobuzz/NASSCOM, India (2019–2020)</li>
    <li><b>Bachelor of Engineering (CSE)</b>, LNCTE, India (2015–2019)</li>
  </ul>

  <h3>Skills</h3>
  <p>Blue Teaming, Red Teaming, Purple Teaming, Leadership, Presentation, Python, Bash, C++</p>

  <h3>Work Experience</h3>
  <ul>
    <li><b>Assistant Professor</b>, JD College of Engineering and Management (2025–present)</li>
    <li><b>Cyber Security Intern</b>, EazyML (2025)</li>
    <li><b>Cyber Security Intern</b>, GroundProbe, Australia (2021–2022)</li>
    <li><b>Cloud Architect Intern</b>, Cybrom Technologies, India (2018)</li>
  </ul>

  <h3> Certifications </h3>
  <ol>
  <p>
    <li><a href="https://drive.google.com/drive/folders/11b-aF37IEO9FPwbqKiNMRGp9zRo1rpPa" target="_blank">Tryhackme Certification</a></li>
    <br>
    <br>
    <li><a href="https://drive.google.com/drive/folders/1__NsRc7J-JTI0wO60dAI4SIR2rPBYn1G" target="_blank">IBM Certification</a></li>
    <br>
    <br>
     <li><a href="https://drive.google.com/drive/folders/1-SUp25XrKm_y9OREQj2jNdhLwKEIfKH8?usp=drive_link" target="_blank">Google Certification</a></li>
  </p>
  </ol>
  
  <h3>Conferences Attended</h3>
  <p>ICBDCCIS 2019, UQBS Colloquium 2023, ANZAM 2023, UQ CSRC 2023, CrikeyCon IX 2024, Auscert 2024, Bsides Brisbane 2024</p>

  <h3>Voluntary Experiences</h3>
  <p>Active member and President of UQ Cybersquad, Reality Labs volunteer, multiple CTF participations & workshops.</p>

  <h3>Publications</h3>
  <ol>
  <li><p>V.Karthikeyan, Ruchi Jain., “Offline AI Bot Technique to Fetch Retrieve and Update Data in Online Real Time Environment” in 2019 International Journal of Scientific & Technology Research, October 2019, vol 8, ISSN 22778616. </p></li>
  </ol>

  <h3>References</h3>
  <p>Dr. Marie Boden (UQ) | Prof. Guangdong Bai (UQ)</p>
</div>
</body>

</html>







